{% unless product.metafields.global.banner_info.value == blank %}
<!-- 700d3详情banner -->
{{ product.metafields.global.banner_info.value }}
{% endunless %}

{%- liquid
assign current_variant = product.selected_or_first_available_variant

unless thumbnail_position
assign thumbnail_position = 'beside'
endunless

assign product_zoom_size = '1800x1800'
assign product_image_size = '620x'

case image_container_width
when 'small'
assign product_image_width = 'medium-up--two-fifths'
assign product_description_width = 'medium-up--three-fifths'
assign product_image_size = '480x'
when 'medium'
assign product_image_width = 'medium-up--one-half'
assign product_description_width = 'medium-up--one-half'
assign product_image_size = '620x'
when 'large'
assign product_image_width = 'medium-up--three-fifths'
assign product_description_width = 'medium-up--two-fifths'
assign product_image_size = '740x'
endcase

assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
-%}
{% if template == 'index' %}
{% style %}
#ProductSection-{{ section_id }}-{{ product.id }}{
max-width:1200px ;
margin:0 auto;
}
@media screen and (min-width: 1500px) {
#ProductSection-{{ section_id }}-{{ product.id }}{
max-width:none;
}
}
#ProductSection-{{ section_id }}-{{ product.id }} .product-block form {
margin-top: 15px;;
}

#ProductSection-{{ section_id }}-{{ product.id }} .product-single__title {
cursor: pointer;
font-size: 25px;
@media screen and (max-width: 768px) {
font-size: 1.3rem;
}
}
#ProductSection-{{ section_id }}-{{ product.id }} .product-block--price,
#ProductSection-{{ section_id }}-{{ product.id }} .product-block--header {
margin: 0;
}
#ProductSection-{{ section_id }}-{{ product.id }} .product-price {
font-size: 22px;
font-weight: bold;
}
{% endstyle %}
{% endif %}

{% if template == 'product' %}
<style>
  .product__price{
    color: #c10505;
  }

  .add-to-cart{
    font-size: 18px;
  }
  
  .shopify-payment-button button{
    font-size: 16px !important;
  }
  
</style>
{% endif %}

<div id="ProductSection-{{ section_id }}-{{ product.id }}" class="product-section" data-section-id="{{ section_id }}"
  data-product-id="{{ product.id }}" data-section-type="product" data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}" data-product-url="{{ product.url | within: collection }}"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}" {% unless isModal %} data-history="true" {% endunless %}
  data-modal="{{ isModal }}">
  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content page-content--product">
   
    <div class="page-width">

      <!-- text -->
 
     {% unless template == 'index' %}
     {% if product.metafields.global.product-info.value != blank %}{{ product.metafields.global.product-info.value }}{%endif%} 
     {% endunless %} 

      <div
        class="grid{% unless image_position == 'left' %} grid--product-images-right{% endunless %}{% if mobile_layout == 'partial' %} grid--product-images--partial{% endif %}">
        {%- if image_position == 'left' -%}
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {%- render 'product-images',
          section_id: section_id,
          product: product,
          isModal: isModal,
          image_position: image_position,
          product_zoom_enable: product_zoom_enable,
          product_zoom_size: product_zoom_size,
          product_image_size: product_image_size,
          thumbnail_arrows: thumbnail_arrows,
          thumbnail_position: thumbnail_position,
          video_looping: video_looping,
          video_style: video_style
          -%}
        </div>
        {%- endif -%}

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            <div class="product-block product-block--header">
              {%- if settings.show_breadcrumbs and isModal != true -%}
              {%- render 'breadcrumbs' -%}
              {%- endif -%}

              {%- if settings.vendor_enable -%}
              <div class="product-single__vendor">
                {%- assign vendor_handle = product.vendor | handleize -%}
                {%- if collections[vendor_handle] != empty -%}
                <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                  {{ collections[vendor_handle].title }}
                </a>
                {%- else -%}
                {{ product.vendor | link_to_vendor }}
                {%- endif -%}
              </div>
              {%- endif -%}

              {%- if isModal -%}
              <p class="h2 product-single__title">
                {{ product.title }}
              </p>
              {%- else -%}
              {% if template == 'index' %}
              <h2 class="h2 product-single__title">
                <a href="{{product.url}}">
                  {{ product.title }}
                </a>
              </h2>
              <a href="{{product.url}}">
              <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}"
                data-product-sku="{{ product.handle }}" data-product-title="{{product.title}}"
                data-product-type="{{product.type}}" style="display: block;">
               
              </span>
            </a>
              {%- else -%}
              <h1 class="h2 product-single__title">
                {%- unless product.empty? -%}
                {{ product.title }}
              
                {%- else -%}
                {{ 'home_page.onboarding.product_title' | t }}
                {%- endunless -%}
              </h1>
              {% unless product.metafields.variable.subtitle.value  == blank %}
              <p style="margin-bottom: 10px;">{{ product.metafields.variable.subtitle.value }}</p>
              {% endunless %}
              {% if template == 'index' %}
              <a href="{{product.url}}">
                {% endif %}
              <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}"
                data-product-sku="{{ product.handle }}" data-product-title="{{product.title}}"
                data-product-type="{{product.type}}" style="display: block;">
              
              </span>
              {% if template == 'index' %}
              </a>
            {% endif %}
              {%- endif -%}
              {%- endif -%}
              {%- if sku_enable -%}
              <p data-sku class="product-single__sku">
                {%- if current_variant.sku -%}
                {{ current_variant.sku }}
                {%- endif -%}
              </p>
              {%- endif -%}
            </div>

            <div data-product-blocks>
              {%- capture form_id -%}AddToCartForm-{{ section_id }}-{{ product.id }}{%- endcapture -%}
              {%- for block in blocks -%}
              {%- case block.type -%}
              {%- when '@app' -%}
              {% render block %}
              {%- when 'separator' -%}
              <!-- <div class="product-block">
                <hr>
              </div> -->
              {%- when 'text' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
             

              {%- when 'tab' -%}
              <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                {% assign tab_id = block.id | append: product.id %}
                {% capture tab_content %}
                {{ block.settings.content }}
                {{ block.settings.page.content }}
                {% endcapture %}
                {%- render 'tab', id: tab_id, title: block.settings.title, content: tab_content -%}
              </div>
              {%- when 'contact' -%}
              <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                {% assign tab_id = block.id | append: product.id %}
                {%- render 'tab-contact', id: tab_id, block: block -%}
              </div>
              {%- when 'description' -%}
              <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %}" {{
                block.shopify_attributes }}>
                {%- assign id = block.id | append: product.id -%}
                {%- render 'product-description', id: id, product: product, is_tab: block.settings.is_tab -%}
              </div>
              {%- when 'price' -%}
              <div class="product-block product-block--price" {{ block.shopify_attributes }}>
                {%- assign hide_sale_price = true -%}
                {%- if product.compare_at_price_max > product.price -%}
                {%- if current_variant.compare_at_price > current_variant.price -%}
                {%- assign hide_sale_price = false -%}
                {%- endif -%}
                <span data-a11y-price class="visually-hidden" aria-hidden="{{ hide_sale_price }}">
                  {{ 'products.general.regular_price' | t }}
                </span>
               
                <span data-compare-price-a11y class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                {%- else -%}
                <span data-a11y-price class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                {%- endif -%}

                <span data-product-price
                  class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %} product-price">
                  {%- unless product.empty? -%}
                  {{ current_variant.price | money }}
                  {%- else -%}
                  {{ 1999 | money }}
                  {%- endunless -%}
                </span>
                <span data-product-price-wrap class="{% if hide_sale_price %} hide{% endif %}">
                  <span data-compare-price class="product__price--compare">
                    {%- if current_variant.compare_at_price > current_variant.price -%}
                    {{ current_variant.compare_at_price | money }}
                    {%- endif -%}
                  </span>
                </span>
                {%- if settings.product_save_amount -%}
                {%- if settings.product_save_type == 'dollar' -%}
                {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | money
                }}{%- endcapture -%}
                {%- else -%}
                {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | times:
                100.0 | divided_by: current_variant.compare_at_price | round }}%{%- endcapture -%}
                {%- endif -%}
                <!-- 打折价格 -->
                <!-- <span data-save-price class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                  {%- unless hide_sale_price -%}
                  {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                  {%- endunless -%}
                </span> -->
                {%- endif -%}

                <div data-unit-price-wrapper
                  class="product__unit-price product__unit-price--spacing {% unless current_variant.unit_price_measurement %} hide{% endunless %}">
                  {%- capture unit_price_base_unit -%}
                  <span data-unit-base>
                    {%- if current_variant.unit_price_measurement -%}
                    {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                    {{ current_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                    {{ current_variant.unit_price_measurement.reference_unit }}
                    {%- endif -%}
                  </span>
                  {%- endcapture -%}

                  <span data-unit-price>{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
                </div>

                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__policies rte small--text-center">
                  {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
              
             <!-- <div class="affirmbbox">
              <p
              style="margin:0;"
              class="affirm-as-low-as product_infos"
              data-page-type="product"
              data-amount="{{ current_variant.price }}"
            >
          </p>
             </div> -->

              {%- when 'quantity_selector' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                <div class="product__quantity">
                  {% assign qty_id = section_id | append: product.id %}
                  <label for="Quantity-{{ qty_id }}">{{ 'products.product.quantity' | t }}</label>
                  {%- render 'quantity-input', form_id: form_id, id: qty_id, qty: 1, min: 1 -%}
                </div>
              </div>

              

              {%- when 'variant_picker' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                {%- unless product.has_only_default_variant -%}
                {%- for option in product.options_with_values -%}
                {%- liquid
                if block.settings.color_swatches
                assign is_color = false
                assign color_option_index = 0
                assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                assign color_option_index = forloop.index0
                assign downcased_option = option.name | downcase
                if downcased_option contains swatch_trigger
                assign is_color = true
                elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                assign is_color = true
                endif
                endif
                -%}
                 
                {%- if block.settings.picker_type == 'button' -%}
                {%- render 'variant-button',
                product: product,
                form_id: form_id,
                section_id: section_id,
                option: option,
                forloop: forloop,
                variant_labels: block.settings.variant_labels,
                is_color: is_color,
                color_option_index: color_option_index
                -%}
                {%- else -%}
                {%- render 'variant-dropdown',
                product: product,
                form_id: form_id,
                section_id: section_id,
                option: option,
                forloop: forloop,
                variant_labels: block.settings.variant_labels
                -%}
                {%- endif -%}
                {%- endfor -%}
                {%- endunless -%}
              </div>


              {%- when 'buy_buttons' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                {%- unless product.empty? -%}
                <div class="product-block">
                  {%- render 'product-form',
                  form_id: form_id,
                  product: product,
                  show_dynamic_checkout: block.settings.show_dynamic_checkout,
                  current_variant: current_variant
                  -%}
                </div>
                {%- endunless -%}

                {%- if block.settings.surface_pickup_enable -%}
                <div data-store-availability-holder data-product-name="{{ product.title | escape }}"
                  data-base-url="{{ shop.url }}{{ routes.root_url }}"></div>
                {%- endif -%}
              </div>
              {%- when 'sales_point' -%}
              {%- unless block.settings.text == blank -%}
              <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                <ul class="sales-points">
                  <li class="sales-point">
                    <span class="icon-and-text">
                      {% case block.settings.icon %}
                      {% when 'checkmark' %} <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-circle-checkmark" viewBox="0 0 64 64">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #000;
                              stroke-width: 2px
                            }
                          </style>
                        </defs>
                        <path class="cls-1" d="M52.68 24.48A22 22 0 1 1 47 15.93M21 32l8.5 8.5L57 13" />
                      </svg>
                      {% when 'globe' %} <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-globe" viewBox="0 0 64 64">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #000;
                              stroke-width: 2px
                            }
                          </style>
                        </defs>
                        <circle class="cls-1" cx="33" cy="32" r="22" />
                        <path class="cls-1"
                          d="M14 21h38M11 32h44M14 43h38M33 10c-12 8-12 37 0 44M33 10c12 8 12 37 0 44" />
                      </svg>
                      {% when 'leaf' %} <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-leaf" viewBox="0 0 64 64">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #000;
                              stroke-miterlimit: 10;
                              stroke-width: 2px
                            }
                          </style>
                        </defs>
                        <path class="cls-1" d="M51 12L13 50M35 13v15h16" />
                        <path class="cls-1" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11z" />
                      </svg>
                      {% when 'package' %} <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-package" viewBox="0 0 64 64">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #000;
                              stroke-width: 2px
                            }
                          </style>
                        </defs>
                        <path class="cls-1" d="M32 56L9.05 42.88V22.12L32 9l22.95 13.12v20.76L32 56z" />
                        <path class="cls-1"
                          d="M32 56V35.23l22.95-13.11M32 35.23L9.05 22.12M42.13 14.79L20.52 28.67v8.75" />
                      </svg>
                      {% when 'lock' %} <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-lock" viewBox="0 0 64 64">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #000;
                              stroke-width: 2px
                            }
                          </style>
                        </defs>
                        <path id="svg_2" data-name="svg 2" class="cls-1"
                          d="M20.48 24v-3c0-6.6 5.52-11 11.76-11C39 10 44 15.13 44 21v3" />
                        <path id="svg_4" data-name="svg 4" class="cls-1" d="M11.62 24h41.25v29.77H11.62z" />
                        <path class="cls-1" d="M32.24 37v7" />
                        <circle class="cls-1" cx="32.24" cy="35.5" r="1.5" />
                      </svg>
                      {% when 'truck' %} <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-truck" viewBox="0 0 64 64">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #000;
                              stroke-miterlimit: 10;
                              stroke-width: 2px
                            }
                          </style>
                        </defs>
                        <path class="cls-1"
                          d="M17 47.72H7.38V21h33.14v26.72H24.44M45.92 47.72h-5.4V34.9h17.1v12.82h-4.23M57.62 34.9l-6.41-8.56H40.52" />
                        <circle class="cls-1" cx="20.74" cy="48.26" r="3.74" />
                        <path class="cls-1" d="M45.92 47.73a3.82 3.82 0 1 1 0 .37v-.37" />
                      </svg>
                      {% endcase %}
                      <span>{{ block.settings.text }}</span>
                    </span>
                  </li>
                </ul>
              </div>
              {%- endunless -%}
              {%- when 'inventory_status' -%}
              <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                {%- render 'product-inventory', product: product, current_variant: current_variant, block: block -%}
              </div>
              {%- when 'share' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image:
                product -%}
              </div>
              {%- when 'trust_badge' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                <div class="aos-animate" style="max-width: {{ block.settings.trust_image.width }}px; margin: 0 auto;">
                  <div class="image-wrap "
                    style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.trust_image.aspect_ratio }}%;">
                    {%- assign img_url = block.settings.trust_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
                    -%}
                    <img class="lazyload" data-src="{{ img_url }}" data-widths="[360, 540, 700, 1024]"
                      data-aspectratio="{{ block.settings.trust_image.aspect_ratio }}" data-sizes="auto"
                      alt="{{ block.settings.trust_image.alt }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ block.settings.trust_image | img_url: '540x' }}"
                        alt="{{ block.settings.trust_image.alt }}">
                    </noscript>
                  </div>
                </div>
              </div>
              {%- when 'custom' -%}
              <div class="product-block" {{ block.shopify_attributes }}>
                {{ block.settings.code }}
              </div>
              {%- endcase -%}
              {%- else -%}
              <div data-blocks-holder data-url="{{ product.url | within: collection }}"
                data-template="{{ product.template_suffix }}">
                <div class="placeholder-content" style="min-height: 86px;"></div>
              </div>
              {%- endfor -%}
            </div>
          </div>
        </div>

        {%- unless image_position == 'left' -%}
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {%- render 'product-images',
          section_id: section_id,
          product: product,
          isModal: isModal,
          image_position: image_position,
          product_zoom_enable: product_zoom_enable,
          product_zoom_size: product_zoom_size,
          product_image_size: product_image_size,
          thumbnail_arrows: thumbnail_arrows,
          thumbnail_position: thumbnail_position,
          video_looping: video_looping,
          video_style: video_style
          -%}
        </div>
       
      </div>
      {%- endunless -%}
      
    </div>
  </div>
</div>
<!-- 7052b 11002b d4e产品详情 -->
{%- render 'product-details' -%}
  
<!-- customize -->
{% if template!='index' %}

<style>
  /* .container{display: none !important;} */
   .addtocat_bg {
        text-align: center;
        color: #FFFFFF;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(32, 32, 32.9);
    }
    .box_fixed {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: none;
        z-index: 99;
    }
    .addtocat_bg h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }
    .box_fixed {
        display: none;
    }

    .mcInfo{
      display: none;
    }

    .sold {
      background: #999;
    margin: 0;
    display: inline-block;
        padding: 7px 10px;
    margin: 0;
    }


    .zs-product-price{
          font-weight: 800;
          font-size: 18px;
        }
    @media screen and (min-width: 768px) {
       .adc-form  {
            display: flex;
            align-items: center;
        }

        .adc-form p{
         margin: 0 15px 0 0;
        }
    }

    .closeSvg svg{
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    #shopify-osm-20996023-b6b2-45f7-9c1c-af04107e9129{
    display: flex;
    align-items: center;
   }

   #shopify-osm-20996023-b6b2-45f7-9c1c-af04107e9129 svg{
    width: 20px;
    height: 20px;
    margin-left: 3px;
   }

   #shopify-osm-20996023-b6b2-45f7-9c1c-af04107e9129 div{
    width: auto !important;
   }

   .affirm-modal-trigger {
    text-decoration: underline;
   }

   .affirmbbox{
    display: flex;
   }
   
    @media screen and (max-width: 768px) {
      .affirmbbox,#shopify-osm-20996023-b6b2-45f7-9c1c-af04107e9129{
        justify-content: center;
      }
      .closeSvg {
        display: none;
      }
        .addtocat_bg h2 {
            font-size: 14px !important;
            font-weight: 600;
            margin: 0;
        }
        .box_fixed .adc-form form {
            padding: 10px 0;
            width: 100%;
        }

        .pcInfo{
          display: none;
        }
        
        .mcInfo{
        display: block;
        }

       

        .addtocat_bg {
    text-align: center;
    color: #FFFFFF;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(32, 32, 32.9);
}

        .addtocat_bg p{
         margin: 0 15px 0 0;
         text-align: left;
        }

       

       .adc-form form span{
          font-size: 14px;
          font-weight: 800;
        }

        .mc_iems{
          width: calc(33.33% - 5px);
        }
    }

    .ufe-widget {
        display: inline-block;
    }

    .product__price-savings{
      margin-left: -5px;
    }
   
  
 
</style>
<div class="box_fixed">
  <div class="">
      <div class="addtocat_bg ">
        <p class="mcInfo mc_iems">
          <svg t="1646045168186" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1886" width="200" height="200">
            <path d="M956.16 465.92c-1.92-4.48-3.84-8.32-7.68-12.16l-188.16-188.16C753.28 257.92 743.68 255.36 734.08 256L576 256c0-70.4-57.6-128-128-128L128 128C57.6 128 0 185.6 0 256l0 480C0 753.92 14.08 768 32 768L64 768c0 70.4 57.6 128 128 128 70.4 0 128-57.6 128-128l320 0c0 70.4 57.6 128 128 128 70.4 0 128-57.6 128-128l32 0c17.92 0 32-14.08 32-32l0-256C960 474.88 958.72 469.76 956.16 465.92zM192 832c-35.2 0-64-28.8-64-64 0-35.2 28.8-64 64-64 35.2 0 64 28.8 64 64C256 803.2 227.2 832 192 832zM512 704 302.08 704C280.32 665.6 239.36 640 192 640c-47.36 0-88.32 25.6-110.08 64L64 704 64 256c0-35.2 28.8-64 64-64l320 0c35.2 0 64 28.8 64 64L512 704zM768 832c-35.2 0-64-28.8-64-64 0-35.2 28.8-64 64-64 35.2 0 64 28.8 64 64C832 803.2 803.2 832 768 832zM896 704l-17.92 0c-22.4-38.4-62.72-64-110.08-64-47.36 0-88.32 25.6-110.08 64L576 704 576 320l144.64 0L896 495.36 896 704z" p-id="1887"></path>
          </svg>
          <b>Ships FREE AND QUICK!</b></p>
          <div class="mc_iems">
              <h2  style="margin: 0px; font-size: 24px;" class="blind-product_title pcInfo">
          {% if current_variant.title == 'Default Title' %}
          {{product.title}}
          {% else %}
          {{ current_variant.title }}
          {% endif %}
              </h2>
              <div class="product---price ">
                  <div id="s-a942367d-6196-4bbe-970b-399e886775f0" class="">
                      <span class="zs-product-price ">{{ current_variant.price |money }}</span>
                      <span class="zs-product-compare-price product__price--compare pcInfo"
                          data-shg-product-target="product-compare-price">
                          {{ current_variant.compare_at_price |money}}
                      </span>
                  </div>
              </div>
          </div>
          <div class='adc-form mc_iems' style='text-align:center;'>
            <p class="pcInfo pcno">
              <svg t="1646045168186" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1886" width="200" height="200">
                <path d="M956.16 465.92c-1.92-4.48-3.84-8.32-7.68-12.16l-188.16-188.16C753.28 257.92 743.68 255.36 734.08 256L576 256c0-70.4-57.6-128-128-128L128 128C57.6 128 0 185.6 0 256l0 480C0 753.92 14.08 768 32 768L64 768c0 70.4 57.6 128 128 128 70.4 0 128-57.6 128-128l320 0c0 70.4 57.6 128 128 128 70.4 0 128-57.6 128-128l32 0c17.92 0 32-14.08 32-32l0-256C960 474.88 958.72 469.76 956.16 465.92zM192 832c-35.2 0-64-28.8-64-64 0-35.2 28.8-64 64-64 35.2 0 64 28.8 64 64C256 803.2 227.2 832 192 832zM512 704 302.08 704C280.32 665.6 239.36 640 192 640c-47.36 0-88.32 25.6-110.08 64L64 704 64 256c0-35.2 28.8-64 64-64l320 0c35.2 0 64 28.8 64 64L512 704zM768 832c-35.2 0-64-28.8-64-64 0-35.2 28.8-64 64-64 35.2 0 64 28.8 64 64C832 803.2 803.2 832 768 832zM896 704l-17.92 0c-22.4-38.4-62.72-64-110.08-64-47.36 0-88.32 25.6-110.08 64L576 704 576 320l144.64 0L896 495.36 896 704z" p-id="1887"></path>
              </svg>
              <b>Ships FREE AND QUICK!</b></p>
              <div>
              <form method="post" class='  {%- if product.available == false -%}sold {%- else -%} btn {%- endif -%}' action="/cart/add" id="AddToCartForm-{{ section_id }}-{{ product.id }}" accept-charset="UTF-8"  enctype="multipart/form-data">
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
    <div class="payment-buttons">
        <button id='drawer-switch' type="submit" name="add" data-add-to-cart="" class="navigable" {% unless product.available %} disabled="disabled" {% endunless %}>
            <span data-add-to-cart-text="" data-default-text="Add to cart">
                {%- if product.available -%}
                <b>ADD TO CART</b>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart pcInfo" viewBox="0 0 64 64">
                    <path fill="none" d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"></path>
                    <circle cx="27" cy="53" r="2"></circle>
                    <circle cx="47" cy="53" r="2"></circle>
                </svg>
                {%- else -%} 
               <b> SOLD OUT</b>
                {%- endif -%}
            </span>
        </button>
    </div>
    <select name="id" data-product-select="" class="product-single__variants no-js">
        {%- if product.available -%}
        <option class="Val" {% if variant==product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ current_variant.id }}">
            {{ current_variant.title }} - {{ current_variant.price | money_with_currency }}
        </option>
        {%- else -%}
        <option disabled="disabled">
            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
        {%- endif -%}
    </select>
</form>

          
              
              </div>
              <div class="closeSvg">
                <svg t="1688026940987" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3063" width="200" height="200"><path d="M256 810.666667c-12.8 0-21.333333-4.266667-29.866667-12.8-17.066667-17.066667-17.066667-42.666667 0-59.733334l512-512c17.066667-17.066667 42.666667-17.066667 59.733334 0s17.066667 42.666667 0 59.733334l-512 512c-8.533333 8.533333-17.066667 12.8-29.866667 12.8z" p-id="3064" fill="#ffffff"></path><path d="M768 810.666667c-12.8 0-21.333333-4.266667-29.866667-12.8l-512-512c-17.066667-17.066667-17.066667-42.666667 0-59.733334s42.666667-17.066667 59.733334 0l512 512c17.066667 17.066667 17.066667 42.666667 0 59.733334-8.533333 8.533333-17.066667 12.8-29.866667 12.8z" p-id="3065" fill="#ffffff"></path></svg>
              </div>
              
          </div>

      </div>

  </div>
</div>
<!--Stamped - Begin Main Widget -->
<div 
id="stamped-main-widget" class="product-recommendations1"  
data-product-id="{{ product.id }}"   
data-url="{{ shop.url }}{{ product.url }}"   
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
data-description="{{ product.description | escape }}"   
data-product-sku="{{product.handle}}"
data-product-title="{{product.title}}" 
data-product-type="{{product.type}}">   
</div>
<!-- Stamped - End Main Widget -->

<script>
  $(document).ready(function() {
  var $boxFixed = $(".box_fixed");
var $closeButton = $(".closeSvg svg");
var touchStartY = 0;
var isScrolling = true;

$closeButton.on("click", function() {
  $boxFixed.hide();
  isScrolling = false;
});

$(window).scroll(function() {
  if (!isScrolling) return; // 如果滑动隐藏后不执行滚动事件，则直接返回
  if ($(this).scrollTop() > 0) {
    $boxFixed.show();
  } else {
    $boxFixed.hide();
  }
});

$boxFixed.on("touchstart", function(event) {
    touchStartY = event.originalEvent.touches[0].clientY;
  });

  $boxFixed.on("touchmove", function(event) {
    var touchMoveY = event.originalEvent.touches[0].clientY;
    var scrollDistance = touchStartY - touchMoveY;

    if (scrollDistance > 0) {
      $boxFixed.hide();
      isScrolling = false; // 滑动隐藏后结束滚动条事件
    } else {
      $boxFixed.show();
      isScrolling = true; // 重新开启滚动条事件
    }
  });

});

var current_price = '{{ current_variant.price | money }}';
var numPrice = parseFloat(current_price.match(/\d+/)[0]);
if(numPrice<100){
  $('.affirmbbox').css('display','none')
}
  var titles ="{{product.title}}";
  document.addEventListener('DOMContentLoaded', function() {
  document.addEventListener('variant:change', function (evt) {
    var product_val, product_price, ds, compare_price, product_titles, inventory_quantity;

    product_val = evt.detail.variant.id.toString();
    product_price = evt.detail.variant.price;
    inventory_quantity = evt.detail.variant.inventory_quantity; // 新增库存信息

    // 获取第一个变体的ID，并将其转换为字符串
    var firstVariantId = '{{ product.variants.first.id }}'.toString().trim();

// 判断是否选择的是第一个变体
var isFirstVariant = product_val === firstVariantId;


    $('.Val').attr('value', product_val);

    var option2s = evt.detail.variant.option2;
    option2s === null ? (option2s = ' ') : option2s;
    $('.blind-product_title').text(evt.detail.variant.option1 + ' ' + option2s);
    $('.zs-product-price').text('$' + price_fun(product_price));

    compare_price = evt.detail.variant.compare_at_price;
    $('.zs-product-compare-price').text(price_fun(compare_price));

    product_titles = evt.detail.variant.title;
    $('.Val').text(product_titles + ' - ' + '$' + price_fun(product_price) + ' USD');

    // 隐藏之前显示的库存信息
    $('.product_quantity').hide();

    // 如果选择的是第一个变体，才显示库存信息
    if (isFirstVariant) {
      // 显示当前选定变体的库存信息
      $('.product_quantity').hide();
      $('.product_quantity[data-variant-id="' + product_val + '"] span').text(inventory_quantity);
      $('.product_quantity[data-variant-id="' + product_val + '"]').show();
    }
  });
});


  // 产品描述说明书
  $('.msT').click(function(){
	$('.clickMs p').toggle(100)
})	

</script>
{% endif %} 
